.nav {
  margin: 20px auto 50px;
  width: min-content;
  display: flex;
  font-size: 22px;
  gap: 10px;
  color: blue;

  a:visited {
    color: inherit;
  }

  a.disabled {
    pointer-events: none;

    color: grey;
  }

  p {
    color: black;
  }
}
