.wrapper {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  font-size: 16px;
}

.search {
  width: 200px;
  height: 30px;
  padding: 0 5px;
  background-color: rgb(199, 199, 193);
  font-size: inherit;
}

.btn {
  margin: 0 15px;
  width: 80px;
  height: 30px;
  font-size: inherit;
  color: rgb(0, 0, 0);
}

.error {
  margin: -5px 10px;
  font-size: 25px;
  color: rgb(1, 71, 10);
}
