button {
  margin: 20px 15px;
  width: 150px;
  height: 30px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.search-input {
  background-color: rgb(211, 211, 211);
}

.error-boundary {
  margin: 25px;
  font-size: 30px;
  text-align: center;
}
